@{
    ViewBag.Title = "Order Success";
}

<br />
<h1 style="text-align:center" class="text-success">Order Success</h1>
<br />
<br />

<div style="text-align:center">
    <a asp-controller="Order" asp-action="MyOrders" class="btn btn-solid" id="mc-submit">Go To My Orders</a>
</div>

<br />
<br />
