@model List<TbCategory>

@{
    ViewData["Title"] = "Categories";
}

@section Styles
{
<!-- Plugin css for this page -->
<link rel="stylesheet" href="~/Admin/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
	<!-- End plugin css for this page -->
<link href="~/Admin/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}



           
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Data table</h4>
                    <div class="row">
                        <div class="col-12">
                             <a href="/admin/Category/Edit" class="btn btn-success btn-fw">Add New Category</a>
                             <br /> <br />

                             <table id="order-listing" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>@ResAdmin.lblCategoryName</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cat in Model)
                                    {
                                        <tr style="margin:0px;padding:0px;">
                                            <td class="col-md-8">@cat.CategoryName</td>
                                            <td class="col-md-4" style="margin:0px;padding:0px;"> 
                                                <a style="height:max-content" 
                                                asp-controller="Category" asp-action="Edit" asp-route-categoryId="@cat.CategoryId"
                                                class="btn btn-info btn-fw">Edit <i class="bi bi-pencil-fill"></i></a>

                                                    &nbsp;  &nbsp; &nbsp;

                                                <a class="btn btn-danger btn-fw js-delete" data-id="@cat.CategoryId">Delete</a>

                                    
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



@section Scripts
{
<!-- Plugin js for this page -->
<script src="~/Admin/assets/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="~/Admin/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page -->
<script src="~/Admin/assets/js/data-table.js"></script>
	<!-- End custom js for this page -->
<script src="~/Admin/lib/sweetalert2/sweetalert2.min.js" asp-append-version="true"></script>
<script src="~/Admin/js/DeleteCategory-List.js" asp-append-version="true"></script>

    ﻿
}


